h1{
    font-weight: 700 ;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}

.items-cont{
    margin-top: 30px;
    text-align: left;
}

.newrow{
    margin: 10px 5px;
}f

.mybutton{
    min-width: 80px;


}